* {
  font-family: "Spline Sans Mono", monospace;
  background-color: #9799ca;
  color: #5C374C;
  scroll-behavior: smooth;
  margin: 0;
}

.external-link {
  text-decoration: none;
  color: #FFCAB1;
}
.external-link:hover {
  color: #5C374C;
}

.home-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-page__header {
  margin-left: 12vw;
}
.home-page__header--name {
  color: #5C374C;
  font-size: 50px;
  font-weight: bold;
}
.home-page__header--job-title {
  color: #5C374C;
  font-size: 20px;
  padding-top: 5vh;
  padding-bottom: 30vh;
}
.home-page__navbar-section {
  width: 100vw;
}
.home-page__navbar-section__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 12vw;
}
.home-page__navbar-section__nav--link {
  text-decoration: none;
  color: #FFCAB1;
  padding: 10px;
  font-size: 50px;
  scroll-behavior: smooth;
  font-style: italic;
}
.home-page__navbar-section__nav--link:hover {
  background-color: #5C374C;
  color: #9799ca;
  transform: translate(25px);
  transition: 0.6s;
}

.page-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-section__heading {
  text-align: center;
  width: 80vw;
  padding-bottom: 5vh;
}
.page-section__about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-section__about .about-content {
  width: 85vw;
  padding: 0;
}
.page-section__about .about-content__para {
  margin-bottom: 2vh;
  text-align: left;
  font-size: 1.1em;
}
.page-section__about .known-tech {
  display: flex;
  width: 60vw;
  flex-wrap: wrap;
  justify-content: space-around;
}
.page-section__about .known-tech__heading {
  padding-top: 2vh;
  padding-bottom: 3.5vh;
}
.page-section__about .known-tech__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 70px;
}
.page-section__about .known-tech__container--label {
  font-weight: 600;
  font-size: 0.7em;
}
.page-section__about .known-tech__container--icon {
  font-size: 40px;
  padding-bottom: 1vh;
}
.page-section__projects {
  height: 225vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-section__projects .projects-gallery {
  display: flex;
  width: 70vw;
  justify-content: column;
  align-items: center;
  flex-wrap: wrap;
}
.page-section__projects .projects-gallery--item {
  width: 265px;
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}
.page-section__projects .projects-gallery--item__img {
  height: 176.7px;
}
.page-section__projects .projects-gallery--item__para {
  margin-top: 3vh;
  font-size: 1em;
}
.page-section__projects .projects-gallery--item__links {
  display: flex;
  width: 265px;
  justify-content: space-evenly;
  align-items: center;
  margin: 3vh 0 7vh 0;
  font-size: 30px;
}
.page-section__contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.page-section__contact .page-section__heading {
  padding-bottom: 5vh;
}
.page-section__contact p {
  padding-bottom: 7vh;
  font-size: 1em;
}
.page-section__contact .contact-links {
  width: 20vw;
  height: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page-section__contact .contact-links__icon {
  font-size: 60px;
  text-decoration: none;
  color: #FFCAB1;
  background-color: #9799ca;
  margin: 2vh 5vw 2vh 5vw;
}
.page-section__contact .contact-links__icon:hover {
  color: #5C374C;
}

/*# sourceMappingURL=style.css.map */
